{{#if addNewBook}}
<h1>New Book</h1>
<div>
  <form>

    <div class="form-group">
      <label for="author">Author</label> {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="title">Title</label> {{input value=author id="title"}}
    </div>

    <div class="form-group">
      <label for="synopsis">Synopsis</label> {{input value=author id="synopsis"}}
    </div>

    <div class="form-group">
      <label for="pages">Pages</label> {{input value=author id="pages"}}
    </div>

    <div class="form-group">
      <label for="price">Price</label> {{input value=author id="price"}}
    </div>
  </div>

        <button {{action 'saveBook'}}>Save</button>
      </form>
    </div>
  {{else}}
    <button {{action 'addNewBook'}}>New Book</button>
  {{/if}}
